<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="34" />

    <!-- (Opsional) Beritahu Play bahwa app ini butuh kamera -->
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Untuk perangkat lama saat akses storage legacy (kita only-request di API <= 28) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScanImage">

        <!-- LAUNCHER -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Kamera (Compose tombol shutter) -->
        <activity
            android:name=".ui.camera.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Crop 4 titik sebelum proses scan -->
        <activity
            android:name=".ui.crop.CropActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>
</manifest>
